# Default ignored files
/shelf/
/workspace.xml
Data/
D:\Practical_deep_hw1\Data
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
